@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro:400,700');
html,
body {
  margin: 0;
  padding: 50px 0 0 0 ;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.notify {
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 99;
}
.notify > div {
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    background: rgba(0,0,0,0.9);
}
.notify > div.success {
    background: #28a745;
}
.notify > div.warning {
    background: #ffc107;
    color: #000;
}
.jumbotron h1{
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  text-align: center;
  color:#283250;
}
h4{color:grey;line-height: 25px;}
h4.loading:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 16em;
    white-space: nowrap;
    color: #283250;
    animation: loading 15s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}
.jumbotron img{
  margin: 20px auto;
  max-height: 50px;
  display: block;
}
color {
  font-weight: normal;
  font-size: 1.5em;
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin: 0.5em 0 0 -1em;
  width: 2.5em;
  height: 2.5em;
  background-color: rgba(0,0,0,0.25);
  text-align: center;
  padding-top: 0.5em;
  border-radius: 0.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.color {
  width: 100%;
  text-align: center;
}
.color span{float: left}
.color div{cursor: pointer;float: right;}
.color div,.color span {
  display: inline-block;
  padding: 1em;
  font-size: 2em;
  border-radius: 1em;
  background-color: rgba(0,0,0,0.25);
}